.header {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  padding: 12px 24px;
  color: #fff;
  background-color: #111;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 24px;
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 8px 15px;
}

.button {
  display: inline-block;
  width: 100px;
  height: 48px;
  border: 0;
  background-color: #e50914;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.button:hover {
  background-color: #b20710;
}